<html>
  <head>
    <meta charset="utf-8" />
    <title>立体漢字クイズ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
    	* { padding: 5px; margin: 0; }
      @media screen and (min-width: 764px) { /*ウィンドウ幅が767px以上の場合に適用*/
          main {
                    background-color: #f1bed2; /*青色*/
                    text-align: center;
                }
            .canvas-parent {
              position: relative; 
              height: 0; 
              overflow: hidden; 
         /* padding-top: 56.25%; */
              width:600px;
              height:500px;
              max-width: 700px; 
              max-height: 500px; 
              margin: 10px auto;
         /*     margin: 10px auto; */ 
            }  
          }       
      @media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
        .canvas-parent {
                  position: relative; 
                  height: 0; 
                  overflow: hidden; 
         /* padding-top: 56.25%; */
                  width:380px;
                  height:300px;
                  max-width: 640px; 
                  max-height: 500px; 
                  margin: 20px auto; 
                } 
      }
      .wrapper {
          display: grid;
/*          grid-template-columns: 1fr ; 
          grid-template-rows: 50px 50px 50px 600px;*/
          grid-gap: 5px;
      }
    	canvas { background: #eeeeee; display: inline; margin: auto ;padding: auto; width:"474px"; height:"500px"; }
      .buttonA {width: 80px;height: 50px;background: rgb(252, 120, 76); color: black;
                font-size:16px; font-weight: bold; align-items: center ;
                border: solid black; display: inline;
               
      }
      button { width: 60px;height: 40px;background: #3ee7; color: black; 
                padding:5px 0 5px;
                border-radius: 5px;
                display: inline; font-size:14px; font-weight: bold; 
                align-items: center ;
             }
      .body{
                text-align: center;
           }
      .inputtext {

            font-weight: bold;
            width:  50px;              /* 要素の幅指定 */
            height: 50px;            /* 周りの余白指定 */
            display:inline-block;    
        }
        .outputtext {
          width:  80%;              /* 要素の幅指定 */
          height: auto;            /* 周りの余白指定 */
          display:inline-block;       
        }
         .canvas {
            background: rgb(190, 190, 190);
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 600px; 
            height: 500px; 
            max-width: 640px; 
            max-height: 500px; 
          }
         
    </style>
  </head>
  <body class="body">
    <div id = "main">
<!--     <div style="font-size:22px;font-weight: bold">立体漢字クイズ--> 
      </div>
      <div style ="font-size:20px;font-weight: bold">【第<label type="text" id="mondai">{{ mojinum }}</label>問】
      </div>
<!--   <div class="wrapper">-->
      <div class="box1">
        <table style="clear: both;margin:auto;height: 60px; text-align: left;">
        <tbody><tr>
        <td style="text-align: left;">
        <button type="submit" class="buttonA" style="background: rgba(179, 248, 165, 0.507);font-size:14ps;" id="yomibtn" onclick="dspyomi()">答え</button>
        </td>
        <td></td>
        <td style="text-align: left;">
          <form action="/kanjitest" id="netxq">
          <button class="buttonA" type="submit" name="mojinum" value="" id="nextbtn" onclick="btn4click()">次の問題</button>
          </form>
        </td>
        <td style="text-align: left;">
          <button type="submit" id="butn2" onclick="animeStart()">再描画</button> 
        </td>
<!--        <form name="inNumFm" action="/kanjitest" id="qno" method="POST" enctype="multipart/form-data" style="float:left;"></form>
          <td></td>
          <td>
            <button type="submit" id="butn4" style="font-size:14px;">番号指定</button>
            <input class="inputtext" type="input" id="getnum" name="mojinum" value="" maxlength="2" required;="">
          </td>
          
        </tr>
        <tr> -->
        <td></td>
        <td><button type="button" style="background:rgb(247, 131, 131); border: 1px solid black;" onclick="window.location = '/'">戻る</button></td>
        </tr>
        </tbody>
        </table>

    <div class="box3">
      <div style="width: 90%; max-width:700px; margin: auto; padding: auto; margin-bottom: 10px; border: 1px solid black; ">
      <div id="yomi" style="font-weight: bold;"></div>
      <div id="setumeibun" style="font-weight: bold;"></div>
    </div>
    <div class="canvas-parent">
    <canvas id="myCanvas" width="580" height="580" style="max-width: 100%; height: auto;"></canvas>
    </div>
    <div style="text-align:center; font-size: 11px">※漢字の読み、説明はGoo辞典を引用しています。https://dictionary.goo.ne.jp/kanji/</div>
    <P></P>
    <div>
      <button type="submit" id="butn4" style="font-size:14px;">番号指定</button>
            <input class="inputtext" type="input" id="getnum" name="mojinum" value="" maxlength="2" required;="">
            番号を入力して、前の問題に戻れます。
    </div>
      <!--  <p id="kdata">{{ kdata}}</p>-->

<script type="text/javascript">
//  var butn4 = document.getElementById('butn4');
 
//  butn4.addEventListener('click', function() {
//     alert(document.inNumFm.mojinum.value);
//     if (isNaN(document.inNumFm.mojinum.value)) {
//        alert("20までの数値を入れてください");
//     } else{
//       document.inNumFm.submit();
//     }
//    }
//  )
        function btn4click(){

        numElement = document.getElementById("nextbtn")
        mnoST = document.getElementById("mondai").textContent
        console.log("mnoST",mnoST)
        mno = Number(mnoST) + 1
        document.getElementById("mondai").textContent = String(mno)
        numElement.value = String(mno)

        }
        
        function mojicheck(){
          var flag = 0;
          if(document.form1.post1.value.match(/[^0-9]+/)){
              flag = 1;
          }
          if(flag){
              window.alert('数字以外が入力されています'); // 数字以外が入力された場合は警告ダイアログを表示
              return false; // 送信を中止
          }
          else{
            return true; // 送信を実行
          }
        }
        
      var img = null;
      var pimg = null;
      var kanjiCubes = [];
      var teihen_x = 100;
      var teihen_y = 600;
      var drop_color = ['pink', 'skyblue', 'green', 'gray', 'tomato', 'navy', 'violet'];
      var hen = 40; //40
      var atusa = 60; //50
      var jiku = [[0, 0, 0], [1000, 0, 0], [0, 1000, 0], [0, 0, 1000]];
      var kyori = 800;
      var scrn = 50;
      var shiten = [460, 800, 800];
      var foucas = [hen * 18, hen * 18, 0];
//      console.log ("foucas:",foucas)
      var sin_a = 0;
      var sin_b = 0;
      var cos_a = 0;
      var cos_b = 0;
      var genkai = 100;
      var plane = [];
      var cube = [];
      var CubeDatas=[];
      var T0 =[];
      var T1 =[];
      var T2 =[];
      var T3 =[];
      var T4 =[];
      var kdata = [];
      var startY =[];
      var  endY = [];
      var  houkouY = [];
      var startX =[];
      var  endX = [];
      var  houkouX = [];
      var a1=0;
      var canvas = document.getElementById("myCanvas");
      var ctx = canvas.getContext("2d");
      var dx = 2;
      var dy = -2;
      cube = [[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0]];
      plane = [[0,0],[0,0],[0,0],[0,0],[0,0],[0,0],[0,0],[0,0]];
      hen = 40;
      var timerId = '';
      var tmpdata = '{{ kdata }}';
      var moji_num = '{{ mojinum }}';
      var setumei = '{{ setumei}}';
      var mvPtn=2;
      var animeStartSW = false

      animeStart()

      function main(){

        document.getElementById("mondai").textContent = moji_num

        if (kdata==[]){

        } else{
        animeStart()
        }
      }

      function dspyomi(){
        //　解答ボタン処理：読みを表示する
//          console.log("解答",setumei)
          if (animeStartSW == false){
            return;
          }
          clearInterval(timerId);
          document.getElementById("yomi").textContent = "<<描画終了>>"
          foucas[0] = 750
          foucas[1] = 750
          shiten[0] = foucas[0]
          shiten[1] = foucas[1]
          shiten[2] = 3800
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          draw_kdata(kdata,shiten);
          yomilist = setumei.split(";")
         // document.getElementById("onyomi").innerText = "【音読み】" + yomilist[0]
//          document.getElementById("onyomi").innerText = yomilist[0]
//          document.getElementById("kunyomi").innerText = "【訓読み】" + yomilist[1]
//          document.getElementById("setumei").innerText = yomilist[2]
          document.getElementById("yomi").textContent = "【音読み】"+ yomilist[1] + "    " + "【訓読み】" + yomilist[2] + "\n"
          document.getElementById("setumeibun").textContent = yomilist[3]
          
      }


//アニメーションスタート
      function animeStart(){
        //console.log("anime start -----");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        animeStartSW = false

        kanjiinit();
        moveCount = 0
        a1 = 1
        if (moji_num in ["1","3","5"]){
          mvPtn = 2 
          shiten = [460, 800, 300];
        } else {
          mvPtn=1;
          shiten = [460, 800, 800];

        }
        mvPtn = 2
        //console.log(kdata)
        
        document.getElementById("yomi").textContent = "<<漢字描画中>>"
        document.getElementById("setumeibun").textContent = " "
        timerId = setInterval(moveKanji,1000);
      }

      function kanjiinit(){
      // pythonから受けっとった漢字データの文字列（tmpdata）をkdataの配列に変換
        console.log("tmpdata",tmpdata)
        data_list = tmpdata.split("],");
        kdata = [];
        kanjiCubes=[];

        for(let i=0;i< data_list.length;i++){
          if (data_list[i] != ""){
            tmpdata2 = data_list[i].replace(/\[|\]/g,"")
            tmpdata2 = tmpdata2.replace(/ /g,"")
            tmplist = tmpdata2.split(",").map(Number);
            
            kdata.push(tmplist);
          }
        }
      }

      function init_shiten() {
        shiten = [460, 800, 800];
        a = foucas[0] - shiten[0]

      };

      function getcube3Dpos(kdata,xx,yy,hen){  //漢字のピットマップの全ての頂点の座標を計算したKanjiCubes を作成する
    
        let th = kdata.length;
        let tw = kdata[yy].length;
//        let start1 = [xx*hen,(th-1-yy)*hen,0];
        let start1 = [xx*hen,(th-1-yy)*hen,0];
        workCube =[[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0]];
        createCube(start1,hen,workCube);
        return workCube;
      }
      function createCube(kiten, hen, cube) {
          for (var ii = 0; ii < 8; ii++) {
		      if (ii % 4  < 2) {
			      cube [ii] [0] = kiten [0];
		      }
		      else {
			      cube [ii] [0] = kiten [0] + hen;
		      }
		      if (ii < 4) {
			      cube [ii] [2] = kiten [2];
		      }
		      else {
			      cube [ii] [2] = kiten [2] + atusa;
		      }
		      if (ii % 4 == 1 || ii % 4 == 2) {
			      cube [ii] [1] = kiten [1];
		      }
		      else {
			      cube [ii] [1] = kiten [1] + hen;
		      }
	      }	    

      }

      function draw_polygonxx(x0,y0,x1,y1,x2,y2,x3,y3,color){
        var starttime = new Date().getTime();
        var endtime=0;
        while( (endtime-starttime) < 1000){
          endtime = new Date().getTime();
        }
        var id = setTimeout( draw_polygonXX(x0,y0,x1,y1,x2,y2,x3,y3,color), 2000 ); // 1000ミリ秒後にsome_function()を実行
  
       
      }
      function draw_polygon(x0,y0,x1,y1,x2,y2,x3,y3,color){
        ctx.fillStyle =color
        ctx.beginPath();
        ctx.moveTo(x0,y0);
        ctx.lineTo(x1,y1);
        ctx.lineTo(x2,y2);
        ctx.lineTo(x3,y3);
        ctx.closePath();
        ctx.fill();
//        ctx.stroke();
      }
      function draw_kdata(kdata,shiten){ //漢字のビットマップから立体座標に変換したCubeDatasを元に描画する
        
        cacl_parm ();  //視点が変化するので変換行列を作成しなおす

        let tCube=[];
        let ih = kdata.length;
        let iw = kdata[0].length;

        //console.log("startY",startY,endY,houkouY,"startX",startX,endX,houkouX,"shite",shiten)
        //for (let yy = startY[0]; yy >= end[y] ; yy--) {
       
        let yi = 0;

        while(yi < 2 ){
          if (startY[yi] == -999){ //0 の時はshiten[1]　は無効
            break;
          }
          let yy = startY[yi];
          while(yy != endY[yi]){
            let xi  = 0;

            while(xi < 2){
              if (startX[xi] == -999){
                break;
              }
              let xx = startX[xi];
              //for (let xx = 0; xx < kdata[yy].length; xx++) {
              while(xx != endX[xi]){
                
                if (kdata [yy] [xx] != 0) {
                  let tCube = getcube3Dpos(kdata,xx,yy,hen); // 1つの立方体の8頂点の座標をコピー
                
                  syazou (tCube);
                  dsp_cube (plane, xx, yy,kdata,tCube);
                }
                
                xx = xx + houkouX[xi]
              }
              xi += 1
            }
            
            yy = yy + houkouY[yi]
          }
          yi += 1;
        }

        //視点とフォーカスを描画
        //var tempx = [];
        //tempx.push(shiten);
        //tempx.push(foucas)
        //console.log("tempx",tempx)
        //syazou(tempx)
        //console.log("---shitenn---",plane[0][0],plane[0][1],plane[1][0],plane[1][1])
        //ctx.fillStyle ="black"
        //ctx.beginPath();
        //ctx.moveTo(plane[0][0],700-plane[0][1]);
        //ctx.lineTo(plane[1][0],700- plane[1][1]);
        //ctx.stroke();
        
      };

      function dsp_cube(plane,xx,yy,kdata,tCube){  //一つの立方体を書く（Planeは8つの頂点の座標を持つ）
        yhosei = 650
        for (ii =0;ii < 8 ; ii++){
        //    a = string(plane[ii][0]);
              plane[ii][1] = yhosei - plane[ii][1]
        }
        let ih = kdata.length;
        let iw = kdata[0].length;
        vextUP = false
        //console.log("x:y",xx,yy,plane,"tCube",tCube)
        //
        //alert(`yy ${yy} xx${xx} :${plane} tCube ${tCube}`);

         //左面
         if ((xx > 0 && kdata [yy] [xx - 1] == 0 )|| xx == 0) {
           //console.log("左面候補",xx,yy,"shiten",shiten,tCube)
           if (shiten[0] < tCube[0][0]){
           //   console.log("左面描画");
		          draw_polygon (plane [0] [0], plane [0] [1], plane [1] [0], plane [1] [1], plane [5] [0], plane [5] [1], plane [4] [0], plane [4] [1], 'violet');
            }
	      }
        //右面
        if ((xx < iw - 1 && kdata [yy] [xx + 1] == 0 )|| xx == iw -1) {
            if (shiten[0] > tCube[3][0]){
		          draw_polygon (plane [2] [0], plane [2] [1], plane [3] [0], plane [3] [1], plane [7] [0], plane [7] [1], plane [6] [0], plane [6] [1], 'pink');
        //      console.log("右面描画");
            }
        } 
        //上下面
        if ((yy > 0 && kdata [yy - 1] [xx] == 0) || yy == 0) {
          if (shiten[1] > tCube[3][1]){
              draw_polygon (plane [0] [0], plane [0] [1], plane [3] [0], plane [3] [1], plane [7] [0], plane [7] [1], plane [4] [0], plane [4] [1],'tomato');
         //     console.log("上面描画");
          };
        };
          //下面
        
        if ((yy < ih - 1 && kdata [yy + 1] [xx] == 0) || yy == ih - 1)  {
          if (tCube[1][1] >  shiten[1]){
              draw_polygon (plane [1] [0], plane [1] [1], plane [2] [0], plane [2] [1], plane [6] [0], plane [6] [1], plane [5] [0], plane [5] [1],'gray');
        //     console.log("下面描画");
          }
       }
          //正面
        if (shiten[2] > hen){
          draw_polygon(plane[4][0],plane[4][1],plane[5][0],plane[5][1],plane[6][0],plane[6][1],plane[7][0],plane[7][1],'blue');
        }
        if (shiten[2] < 0) {
          draw_polygon(plane[0][0],plane[0][1],plane[1][0],plane[1][1],plane[2][0],plane[2][1],plane[3][0],plane[3][1],'skyblue');
        }
//console.log("sita;",shiten[0],shiten[1],"x,y",xx,yy,tCube[0][0],tCube[0][1])
        
	        
      }
      
      function cacl_parm() {
	      var bunbo1 =  Math.sqrt (Math.pow (shiten [0] - foucas [0], 2) + Math.pow (shiten [2] - foucas [2], 2));
	      var bunbo2 =  Math.sqrt ((Math.pow (shiten [0] - foucas [0], 2) + Math.pow (shiten [1] - foucas [1], 2)) + Math.pow (shiten [2] - foucas [2], 2));
	      if (bunbo1 == 0) {
		        bunbo1 = 1;
		    }
	      if (bunbo2 == 0) {
		        bunbo2 = 0;
        }
	      sin_a = (foucas [0] - shiten [0]) / bunbo1;
	      cos_a = (shiten [2] - foucas [2]) / bunbo1;
	      sin_b = (shiten [1] - foucas [1]) / bunbo2;
	      cos_b = bunbo1 / bunbo2;
	//      T0 = [[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [-(1) * shiten [0], -(1) * shiten [1], -(1) * shiten [2], 1]];
	      T1 = [[cos_a, sin_a * sin_b, sin_a * cos_b, 0], [0, cos_b, -(1) * sin_b, 0], [sin_a, (-(1) * cos_a) * sin_b, (-(1) * cos_a) * cos_b, 0], [(-(1) * shiten [0]) * cos_a - shiten [2] * sin_a, (((-(1) * shiten [0]) * sin_a) * sin_b - shiten [1] * cos_b) + (shiten [2] * cos_a) * sin_b, (((-(1) * shiten [0]) * sin_a) * cos_a + shiten [1] * sin_b) + (shiten [2] * cos_a) * cos_b, 1]];
	      T2 = [[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0.5, 0.5], [0, 0, -(0.5), 0]];
  //      T2 = [[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 1], [0, 0, -1, 0]];
	      T3 = [[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0.1, 0.1], [0, 0, -(100), 0]];
	      T4 = [[400, 0, 0, 0], [0, 400, 0, 0], [0, 0, 1, 0], [400,400, 0, 1]];
      }

// syazou
        function syazou(cube) { //視点からの３D座標変換
	        plane = [];
          //console.log("cube:",cube);
    
	        for (let xx = 0 ; xx < cube.length; xx++) {
                let xyz = cube[xx];
		        if (xyz.length == 3) {
			        xyz.push (1);
		        }
 //           var ary2 = calcMatrix4 (xyz, T0);
		        var ary2 = calcMatrix4 (xyz, T1);
		        ary3 = calcMatrix4 (ary2, T2);
		        ary3 = calcMatrix4 (ary3, T4);
		        var tx = Math.floor(ary3 [0] / ary3 [3] - 100);
		        var ty = Math.floor (ary3 [1] / ary3 [3]);
//                console.log(tx,ty)
		        plane.push ([tx, ty]);
	        }
        };
      function calcMatrix4(aray1,aray2){
          
     //   console.log("matrix:",aray1,aray2)
        res = [];
        if (typeof aray1[0] === 'object'){
            //2次元
            var jigen = 2;
            var row1 = aray1.length;
            var col1 = aray1[0].length;
        } else {
            var jigen = 1;
            var col1 = aray1.length;
            var row1 = 1;
        }

        var row2 = aray2.length;  
        var col2 = aray2[0].length;

        for (ii=0;ii< row1;ii++){
            if (jigen > 1){
                res[0] = [];
            } 
            for (jj=0;jj< col2;jj++){
                if (jigen == 1){
                    res[jj] = 0;
                } else {
                    res[ii][jj] = 0;
                }
                for (kk=0;kk< col1;kk++){
                    if (jigen == 1){
                        res[jj] +=  aray1[kk] * aray2[kk][jj]
                    } else {
                        res[ii][jj] +=  aray1[ii][kk] * aray2[kk][jj]
                    }
                }
            }
        } 
       // console.log(res)
        return res;
      }
// ------   movekanji
      function moveKanji(){
      var r = 2500;
//      var mvx = [[2500,750,800],[2000,2000,800],[750,2500,700],[350,2000,700],[-750,750,800],[750,-750,700],[3000,350,1500]]
      var mvx = [[2500,750,800],[2000,1800,800],[750,2100,400],[350,2000,700],[-1000,750,500],[750,-1000,700],[3000,700,500]]
      var mvx2 = [[2500,750,800],[2000,1800,800],[750,2100,400],[350,2000,700],[-750,750,400],[750,-750,700],[3000,350,1500]]

        let ih = kdata.length
        let iw = kdata[0].length
        moveCount += 1;
        
        if (moveCount > 18){ 
            clearInterval(timerId);
            document.getElementById("yomi").textContent = "<<描画終了>>"
            document.getElementById("setumeibun").textContent = "「次の問題」で進みます。「答え」で読みを表示します。"
        }else {
          if(mvPtn ==2 ){
// console.log("movekanji:a1=",a1,shiten,foucas)
            radian1 = a1 * ( Math.PI / 180 )
            x = Math.floor(1700 * Math.cos(radian1));
            y = Math.floor(1700 * Math.sin(radian1));

            shiten[0] = 750 + x;
            foucas[0] = Math.max(750 + x/2,0);
            shiten[1] = 750 + y;
            foucas[1] = Math.max(750 + y/2,0);
            if (moveCount>14){
              shiten[2] += 300
              shiten[0] -=50
              foucas[0] -= 50
              foucas[1] -= 50
              a1 += 30
            } else{
              shiten[2] = 900
              a1 += 30
            }
          }else{
              //window.alert(shiten)
              tmpidx = moveCount %7
             // tmpidx = 1

              shiten[0] = mvx[tmpidx][0];
              shiten[1] = mvx[tmpidx][1];
              shiten[2] = mvx[tmpidx][2];
              for (let i=0;i<2;i++){
                if (shiten[i] > 1500){
                  foucas[i] = 1000
                } else if (shiten[i] < 0){
                  foucas[i] = 500
                } else {
                  foucas[i] = shiten[i]
                }
              }
              
              //window.alert(mvx[tmpidx])
          }
        }


        // 陰面消去のため、上から描画と下から描画をわける
          hyoujijyun(startY,endY,houkouY,shiten[1],foucas[1],ih,hen,true);
          hyoujijyun(startX,endX,houkouX,shiten[0],foucas[0],iw,hen,false);
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          draw_kdata(kdata,shiten);
          //window.alert(shiten)
          animeStartSW = true
          
        }
    function hyoujijyun(startA,endA,houkouA,shitenA,foucasA,haba,hen,revSW){
        //x軸の処理
          upMax = (haba -1) * hen 
          downMin = 0
          let shoumen = Math.floor(shitenA / hen) //sx は正面のBlockの配列のインデックスになっている
          if ((revSW == false &&shitenA >= upMax) || (revSW ==true && shitenA <= downMin) ){
             //全てを上から見る
              startA[0] = 0;
              endA[0] =  haba ;
              houkouA[0] = 1
              startA[1] = -999;
              endA[1] =  -999;
              houkouA[1] = 0;
          } else if((revSW == false && shitenA <= downMin) || (revSW == true && shitenA >= upMax )) {
              startA[0] = haba -1;
              endA[0] = -1;
              houkouA[0] = -1
              startA[1] =-999;
              endA[1] =  -999;
              houkouA[1] = 0;
          } else {
              if (revSW == true){ //Y面の配列は0が高く、下が大きいのでインデックスが逆になる
                shoumen = haba -shoumen;
              } 
              startA[0] = 0
              endA[0] =  Math.min(shoumen ,haba) +1;  //バグでも動くように念のため
              houkouA[0] = 1;
              startA[1] = haba -1;
              endA[1] =  shoumen - 1;
              houkouA[1] = -1
               
          }
      }  
  //    xhr.onload = function () {
  //      alert(`Done, got ${xhr.response}`);
  //        var tmpdata = '{{ kdata  }}';
  //        var moji_num = '{{ mojinum }}';
  //      moveCount = 0
  //      a1 = 2
  //      animeStart();
  //    }
   //       console.log("modorimasita",moji_num,'{{ mojinum | tojson}}')
   //   }
   //   xhr.onreadystatechange = function() {
   //       if (xhr.readyState == 4 && xhr.status == 200) {
          //受信完了時の処理
   //         let url = new URL(window.location.href);
          // URLSearchParamsオブジェクトを取得
   //         let params = url.searchParams;
          // getメソッド
   //         console.log(params.get('kdata')); // 5
   //         console.log(params.get('mojinum')); // r
          
    //      }
    //      else {
    //        console.log("処理中")
    //      }
    //    }

      function get_nextkanji(){
//          alert('Click');
        numElement = document.getElementById("getnum")
        mnoST = numElement.value ;
        mno = Number(mnoST) + 1
        numElement.value= String(mno)
  
  //      var xhr = new XMLHttpRequest();
  //      alert(`getnext ${moji_num}`);
  
  //      mojiNum = Number(moji_num);
  //      if (mojiNum < 10){
  //          mojiNum++;
  //          moji_num = String(mojiNum);
   //     }
   //     else {
   //       moji_num = "1";
   //     }
        sendmoji = "/kanjitest?mojinum=" + moji_num;
   //     xhr.open('GET', sendmoji, false);
   //     xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
   //     alert(`getnext ${sendmoji}`);
        //xhr.send('mojinum=3');
   //     xhr.send(Document);

        //xhr.responseType = 'json';
        

//        xhr.open('GET', '/kanjitest?'+sendmoji, true);
//        xhr.open('POST', '/kanjitest', true);
//        xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
//        xhr.send(sendmoji);
//        var result = document.getElementById('mojinum');

//        xhr.open('POST', '/kanjitest', false);
//        xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
//        xhr.send("mojinum=" + moji_num);

    //    xhr.onload = function () {
    //      alert(`getnext ${xhr.responseURL}`);
    //    }
//          var tmpdata = '{{ kdata  }}';
//          var moji_num = '{{ mojinum }}';
//          console.log("modorimasita",moji_num,'{{ mojinum | tojson}}')
     }

    </script>
  </div>
  </body>
</html>